*{
	margin: 0;
	padding: 0;
	font-family: 'Urbanist', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/image3.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.header span{
  font-size: 20px;
  color: white;

}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links li{
  padding-left: 20px;
  padding-right: 20px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 15px 14px;
	position: relative;
}
.nav-links ul li a{
	color: orange;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: blue;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;

}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 100px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 50px;
	color: white;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: blue;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
nav.fa{
	display: none;
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 62px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height:100vh ;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;


	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 24px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
}

/*about us page css*/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 70px;
  text-align: center;
  background-color: white;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/*Services*/
.services{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;	
}
h1{
	font-size:36px ;

}
p{
	color: black;
	font-size: 16px;
	padding: 10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;

}
.services-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
h3{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
}
.services-col:hover{
	box-shadow:0 020px 0px rgba(0,0,0,0.2) ;
	transition: 0.5s;
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}
/*gallery*/


/*.header{
  font-size: 6vw;
  font-family: "Quicksand";
  text-align: center;
  align-content: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}*/

.gallery{
  display: flex;
}

.column{
  display: block;
  margin-right: .5vw;
  width: 100%;
}

.item{
  overflow: hidden;
  position: relative;
  margin-bottom: .5vw;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1%;
}

.imginfo{
  opacity: 0;
  bottom: -.78vw;
  left: .6vw;

  padding: .35vw;
  color: black;
  position: absolute;
  font-size: .65vw;
  font-family: "Quicksand";
  transition: .2s;
  background-color: white;
}

.imglink:hover + .imginfo, .imginfo:hover{
  opacity: 1;
    bottom: .78vw;
}
.imgdesc{
  font-size: .58vw;
  color: dimgray;
  display: block;
}

.img{
  display: block;
  position: relative;
  transition: .2s;
  width: 100%;
  height: 100%;
}
/* contact us css */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/*Footer*/
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 